.sapUiTfBrd{
height: 100% !important;
width: 100% !important;
}

.sapUiTfAutoComp{
height: 100% !important;
width: 100% !important;
}

.sapUiLayoutAbsPos{
	
	background: url("i999.png") no-repeat scroll center center;
}

